<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.controle.estoque.api.repository.mybatis.produto.ProdutoMapper">
   
    <resultMap id="ProdutoDefault" type="Produto">
        <id column="ID" 								property="id" 					jdbcType="INTEGER"/>
        <result column="NOME" 							property="nome" 				jdbcType="VARCHAR"/> 
        <result column="DESCRICAO" 						property="descricao" 			jdbcType="VARCHAR"/>
        <result column="QUANTIDADE" 					property="quantidade" 			jdbcType="VARCHAR"/>
        <result column="VALOR" 							property="valor" 				jdbcType="VARCHAR"/>
        <result column="ATIVO" 							property="ativo" 				jdbcType="VARCHAR"/> 
        <result column="SALDO_EM_ESTOQUE" 				property="saldoEmEstoque" 		jdbcType="VARCHAR"/> 
        
        <association property="categoria" 		column="CATEGORIA_ID" 		select="selectUnidadeDeMedidaProduto"/>
        <association property="unidadeDeMedida" column="UNIDADE_MEDIDA_ID" 	select="selectCategoriasProduto"/>
    </resultMap>
    
    <resultMap id="resultCategoria" type="Categoria">
        <id column="ID" 				property="id" 				jdbcType="INTEGER"/>
        <result column="NOME" 			property="nome" 			jdbcType="VARCHAR"/> 
        <result column="DESCRICAO" 		property="descricao" 		jdbcType="VARCHAR"/>
    </resultMap>
    
    <resultMap id="resultUnidadeDeMedida" type="UnidadeDeMedida">
        <id column="ID" 				property="id" 				jdbcType="INTEGER"/>
        <result column="DESCRICAO" 		property="descricao" 		jdbcType="VARCHAR"/>
    </resultMap>
 
	<update id="atualizar" parameterType="Produto">
	    UPDATE PRODUTOS 
	    SET
	    SKU= #{produto.SKU},
	    NOME= #{produto.nome},
	    DESCRICAO= #{produto.descricao},
	    CATEGORIA_ID= #{produto.categoria.id},
	    UNIDADE_MEDIDA_ID= #{produto.unidadeDeMedida.id},
	    VALOR= #{produto.valor},
	    ATIVO= #{produto.ativo},
	    SALDO_EM_ESTOQUE= #{produto.saldoEmEstoque}
	    WHERE ID= #{produto.id}
	</update> 
	
	<select id="listarProdutosPorid" resultMap="ProdutoDefault">
		SELECT * 
		FROM PRODUTOS P 
		WHERE P.ID = #{id}
	</select>
	
	<select id="selectCategoriasProduto" resultMap="resultCategoria">
		SELECT * FROM CATEGORIAS WHERE ID= #{id}
	</select>
	
	<select id="selectUnidadeDeMedidaProduto" resultMap="resultCategoria">
		SELECT * FROM UNIDADES_DE_MEDIDA WHERE ID= #{id}
	</select>
</mapper>